@media (max-width: 360px) {
    td {
        width: 95px;
        height: 95px;
        border: 1.5px solid #2f2f2f;
    }

    .icon {
        width: 60px;
        height: 60px;
        object-fit: contain;
        display: block;
        margin: auto;
    }

    button {
        font-size: 14px;
        cursor: pointer;
        margin-top: 36px;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 30px;
    }
}