* {
    margin: 0;
    padding: 0;
    font-family: 'Tai Heritage Pro';
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2f2f2f;
    /* background-color: #f9f9ee; */
    background-image: url('./assets/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-weight: 400;
    margin-bottom: 40px;
    color: #2f2f2f;
}

table {
    border-collapse: collapse;
}

td {
    width: 110px;
    height: 110px;
    border: 1.5px solid #2f2f2f;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

button {
    background-color: #2f2f2f;
    color: #f9f9ee;
    border: none;
    padding: 8px 24px;
    border-radius: 25px;
    font-family: "Futura", Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
    margin-top: 40px;
}

button:hover {
    background-color: #3a3a3a;
}