body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}